<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<header th:fragment="header">
    <div class="menuline">
        <div>
            <!-- <div class="nav"><a><p class="string">Транспортный отдел</p></a></div>-->
            <!-- <div class="nav"><a><p class="string">Бухгалтерия</p></a></div> -->
            <div class="nav"><div class="nav"><a href="/app/supplier"><p class="string">Отдел снабжения</p></a></div></div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="nav"><div class="nav"><a href="/app/admin"><p class="string">Панель администратора</p></a></div></div>
        </div>
        <div class="nav"><div class="nav"><a href="/logout"><p class="string" sec:authentication="principal">Name</p></a></div></div>
    </div>
    <hr>
</header>

<footer th:fragment="footer">
    <hr>
    <center>
        © 2020 Михненков Павел Андреевич <a href="mailto:sibsnab1@gmail.com">sibsnab1@gmail.com</a>
    </center>
</footer>
</body>
</html>