<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <hr>
        <div>
            <div class="nav"><a href="/requests/create"><p class="string">Создать заявку</p></a></div>
            <div class="nav"><a href="/requests"><p class="string">Заявки</p></a> </div>
            <div class="nav"><a href="/requests/all"><p class="string">Список позиций</p></a></div>
            <div class="nav"><a href="/requests/my"><p class="string">Мои заказы</p></a></div>
            <div class="nav"><a href="/supplier"><p class="string">Кабинет снабженцца</p></a></div>
        </div>
    <hr>
</header>

<footer th:fragment="footer">
    <hr>
    <center>
        © 2020 Михненков Павел Андреевич <a href="mailto:sibsnab1@gmail.com">sibsnab1@gmail.com</a>
    </center>
</footer>
</body>
</html>