<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="fragments/fragments :: meta">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<header th:fragment="header">
    <div class="menuline">
        <div>
            <div class="nav"><div class="nav"><a href="/app"><p class="string">Выйти</p></a></div></div>
            <div class="nav"><div class="nav"><a href="/app/admin/users"><p class="string">Список пользователей</p></a></div></div>
            <div class="nav"><div class="nav"><a href="/app/admin/departments"><p class="string">Список отделов</p></a></div></div>
            <div class="nav"><div class="nav"><a href="/app/admin/categories"><p class="string">Список категорий</p></a></div></div>
        </div>
        <div th:replace="fragments/fragments :: logout"></div>
    </div>
    <hr>
</header>

<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>