<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<header th:fragment="header">
    <div>
        <div class="nav"><a href="/app"><p class="string">Выйти</p></a></div>
        <div class="nav"><a href="/app/admin/users"><p class="string">Список Пользователей</p></a></div>
        <div class="nav"><a href="/app/admin/departments"><p class="string">Список Отделов</p></a></div>
    </div>
</header>

<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>