<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/fragments :: meta">
    <title>Отделы</title>
    <link rel="stylesheet" href="/css/sort.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
</head>
<body>
<header th:replace="adminPanel :: header"></header>

<div  th:if="${param.message != null}" th:text="${param.message}"></div>

<div th:fragment="allDepartments" class="tableContainer">
    <table class="sort" align="center">
        <thead>
        <tr>
            <td>Организация</td>
            <td>Отдел</td>
            <td>Начальник</td>
            <td>Снабженец</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department: ${departments}">
            <td th:text="${department.organization}"></td>
            <td th:text="${department.name}"></td>
            <td th:text="${department.leader == null ? '' : department.leader.fio()}"></td>
            <td th:text="${department.supplier == null ? '' : department.supplier.fio()}"></td>
            <td><button th:onclick="'window.location.href=\'/app/admin/departments/' + ${department.id} +'\';'"  type="button">id</button></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <center>
        <button th:onclick="'window.location.href=\'/app/admin/departments/create\';'" type="button"> Создать новый отдел </button>
    </center>
</div>
<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>