<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="fragments/fragments :: meta">
    <title>Все заявки</title>
    <link rel="stylesheet" href="/css/sort.css">
    <link rel="stylesheet" href="/css/menu.css">

    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
</head>
<body>
<header th:replace="supplierArea :: header"></header>
<div th:if="${message != null}" th:text="${message}" style="color:red;"></div>
<div th:if="${(!(requests == null)) && (requests.size() == 0)}"><center>Новых заявок на данный момент нет</center></div>
<div th:if="${(!(requests == null)) && (requests.size() != 0)}">
    <div th:fragment="allRequests" class="tableContainer">
        <table class="sort" align="center">
            <thead>
            <tr>
                <td>Номер заявки</td>
                <td>Дата</td>
                <td>Фамилия</td>
                <td>Цель заявки</td>
                <td>Список</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request: ${requests}">
                <td th:text="${request.id}"></td>
                <td th:text="${request.date}"></td>
                <td th:text="${request.author.surname}"></td>
                <td th:text="${request.goal}"></td>
                <td>
                    <div sec:authorize="hasRole('ROLE_SUPPLIER')"><button th:onclick="'window.location.href=\'/app/requests/' + ${request.id} +'\';'"
                            th:class="${(isNewRequestsExistsForSupplier == true) && (listOfDepartmentsForCurrentSupplier.contains(request.department))?'active':''}"
                                                                          type="button">Список</button></div>
                    <div sec:authorize="!hasRole('ROLE_SUPPLIER')"><button th:onclick="'window.location.href=\'/app/requests/' + ${request.id} +'\';'"
                                                                        type="button">Список</button></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>