<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все заявки</title>
    <link rel="stylesheet" href="/css/sort.css">
    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
</head>
<body>
    <table class="sort" align="center">
        <thead>
            <tr>
                <td>Номер заявки</td>
                <td>Дата</td>
                <td>Фамилия</td>
                <td>Цель заявки</td>
                <td>Список</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="request: ${requests}">
                <td th:text="${request.id}"></td>
                <td th:text="${request.date}"></td>
                <td th:text="${request.author.surname}"></td>
                <td th:text="${request.goal}"></td>

                <td><button th:onclick="'window.location.href=\'requests/' + ${request.id} +'\';'"  type="button">Список</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>