<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/fragments :: meta">
    <title>Пользователи</title>
    <link rel="stylesheet" href="/css/sort.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
</head>
<body>
<header th:replace="adminPanel :: header"></header>
<div th:fragment="allUsers" class="tableContainer">
    <table class="sort" align="center">
        <thead>
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Телефон</td>
            <td>E-mail</td>
            <td>Список компаний</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.surname}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.email}"></td>
            <td><p th:each="org : ${user.organizations}"
                    th:text="${org.toString()}"></td>
            <!--
            <td th:text="${user.organizations.size() >= 2} ? '...' : ${user.organizations.stream().findAny().orElse('')}"></td>
            -->
            <td><button th:onclick="'window.location.href=\'/app/admin/users/' + ${user.id} +'\';'"  type="button">id</button></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>