<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
    <link rel="stylesheet" href="/css/sort.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
</head>
<body><center>
    <p th:text="${listOfUsers}">Список пользователей</p>
    <form action="#" th:action="@{/admin/departments/save}" th:object="${department}" method="POST">
    <table class="sort" align="center">
        <tbody>
            <tr>
                <td align="right">Организация</td>
                <td align="left"><div th:text="*{organization}"></div><input type="text" th:field="*{organization}" style="display:none;" readonly></td>
            </tr>
            <tr>
                <td align="right">Наименование отдела</td>
                <td align="left"><div th:text="*{name}"></div><input type="text" th:field="*{name}" style="display:none;" readonly></td>
            </tr>
            <tr>
                <td align="right">Начальник</td>
                <td align="left">
                    <select th:field="*{leader}">
                        <option th:each="applicationUser : ${listOfUsers}"
                                th:value="${applicationUser.id}"
                                th:text="${applicationUser.fio}"
                                th:selected="${applicationUser.id == department.leader.id}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">Снабженец</td>
                <td align="left">
                    <select th:field="*{supplier}">
                        <option th:each="applicationUser : ${listOfUsers}"
                                th:value="${applicationUser.id}"
                                th:text="${applicationUser.fio}"
                                th:selected="${applicationUser.id == department.supplier.id}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"><div><button type="submit">Сохранить</button></div></td>
                <td align="left"><div><button type="cancel">Отмена</button></div></td>
            </tr>
        </tbody>
    </table>
        <input type="text" th:field="*{id}" style="display:none;" readonly>
    </form>
</center></body>
</html>