<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="fragments/fragments :: meta">
    <title>Редактировать пользователя</title>
    <link rel="stylesheet" href="/css/sort.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
</head>
<body>
<header sec:authorize="hasRole('ROLE_ADMIN')" th:replace="adminPanel :: header"></header>
<header sec:authorize="!(hasRole('ROLE_ADMIN'))"th:replace="fragments/fragments :: header"></header>
<center>
    <form action="#" th:action="@{/app/admin/users/save}" th:object="${applicationUser}" method="POST">
    <table class="sort" align="center">
        <tbody>
            <tr>
                <td align="right">Фамилия</td>
                <td align="left"><div th:text="*{surname}"></div><input type="text" th:field="*{surname}" style="display:none;" readonly></td>
            </tr>
            <tr>
                <td align="right">Имя</td>
                <td align="left"><div th:text="*{name}"></div><input type="text" th:field="*{name}" style="display:none;" readonly></td>
            </tr>
            <tr>
                <td align="right">Номер телефона</td>
                <td align="left"><div th:text="*{phoneNumber}"></div><input type="text" th:field="*{phoneNumber}" style="display:none;" readonly></td>
            </tr>
            <tr>
                <td align="right">E-mail</td>
                <td align="left"><div th:text="*{email}"></div><input type="text" th:field="*{email}" style="display:none;" readonly></td>
            </tr>
            <tr sec:authorize="hasRole('ROLE_ADMIN')">
                <td align="right">Аккаунт активирован</td>
                <td align="left"><input th:type="checkbox" th:field="*{isEnabled}"></td>
            </tr>
            <tr sec:authorize="hasRole('ROLE_ADMIN')">
                <td align="right">Аккаунт разблокирован</td>
                <td align="left"><input th:type="checkbox" th:field="*{isAccountNonLocked}"></td>
            </tr>
            <tr>

                <td align="right"><div><button type="submit">Сохранить</button></div></td>
                <td align="left"><div><button type="cancel">Отмена</button></div></td>
            </tr>
        </tbody>
    </table>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <center>
                <input type="text" name="innCode" placeholder="ИНН">
                <button th:formaction="@{/app/admin/users/__${applicationUser.getId()}__/addOrganization}"  type="submit">Добавить организацию</button>
            </center>
        </div>
        <div th:each="organization : ${applicationUser.organizations}">
            <div th:text="${organization}"></div>
        </div>
        <hr>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <center>
                <select name="role">
                    <option th:each="ga : ${T(com.pamihnenkov.supplier.security.ApplicationGrantedAuthority).values()}"
                            th:value="${ga}"
                            th:text="${ga.name}"></option>
                </select>
                <button th:formaction="@{/app/admin/users/__${applicationUser.getId()}__/addRole}"  type="submit">Добавить роль</button>
            </center>
            <div th:each="role : ${applicationUser.authorities}">
                <div class="menulinecentered"><div th:text="${role}"></div><button  th:formaction="@{/app/admin/users/deleteRole/__${role}__}"><img style="height: 1em;" src="/images/cross.png"></button></div>
            </div>
        </div>
        <input type="text" th:field="*{id}" style="display:none;" readonly>
    </form>
</center></div></body>
</html>