<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/fragments :: meta">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/css/sort.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
</head>
<body>
<header th:replace="fragments/fragments :: header"></header>
<Center><H1>Список дел:</H1></Center>
<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>