<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
</head>
<body>
<header th:replace="supplierArea :: header"></header>
<form action="#" th:action="@{/requests/save}" th:object="${request}" method="post">
    <fieldset>
        <input type="text" th:field="*{goal}">
        <select th:field="*{department.id}">
            <option th:each="department : ${departments}"
                    th:value="${department.id}"
                    th:text="${department.name}"></option>
        </select>
    </fieldset>
    <fieldset>

        <table id="listOfRequestLines">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Модель</th>
                    <th>Характеристики</th>
                    <th>Количество</th>
                    <th>Единицы измерения</th>
                    <th>Срочность</th>
                    <th>Ссылка</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="requestLine, itemStat : *{requestLines}">
                    <td><input th:field="*{requestLines[__${itemStat.index}__].item.name}" th:required="required"></td>
                    <td><input th:field="*{requestLines[__${itemStat.index}__].item.model}"></td>
                    <td><input th:field="*{requestLines[__${itemStat.index}__].description}"></td>
                    <td><input th:field="*{requestLines[__${itemStat.index}__].orderedQuantity}" th:required="required"></td>
                    <td><select th:field="*{requestLines[__${itemStat.index}__].unitOfMeasure}">
                            <option th:each="uom : ${T(com.pamihnenkov.supplier.model.UnitOfMeasures).values()}"
                                    th:value="${uom}"
                                    th:text="${uom.title}"></option>
                        </select></td>
                    <td><input th:type="date" th:field="*{requestLines[__${itemStat.index}__].expectedTo}" th:value="yyyy-MM-dd"></td>
                    <td><input th:field="*{requestLines[__${itemStat.index}__].item.urlOfExample}"></td>
                    <td><button type="button" th:onclick="cloneRow('listOfRequestLines',this)">+</button></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <center>
        <button type="button" th:onclick="addRow('listOfRequestLines');">Добавить строку</button>
        <input type="submit" id="submitButton" value="Создать заявку">
        <input type="submit" id="saveButton" value="Сохранить черновик">
    </center>
</form>

<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>