<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание заявки:</title>
</head>
<body>
<form method="post" th:action="@{/addRequest}" th:object="${newRequest}">
    <table>
        <tr>
            <th>Наименование</th>
            <th>Модель</th>
            <th>Характеристики</th>
            <th>Количество</th>
            <th>Единицы измерения</th>
            <th>Срочность</th>
            <th>Ссылка</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="text" name="item.name"></td>
            <td><input type="text" name="item.model"></td>
            <td><input type="text" name="description"></td>
            <td><input type="number" name="orderedQuantity"></td>
            <td>
            </td>
            <td><input type="date" name="expectedTo"></td>
            <td><input type="url" name="urlOfExample"></td>
            <td><input type="hidden" value="0"><input type="button" value="+"></td>
    </table>
    <center><input type="submit" value="Отправить заявку"></center>
</form>
</body>
</html>