<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="fragments/fragments :: meta">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
</head>
<body>
<header th:replace="fragments/fragments :: header"></header>
<div class="menuline">

    <div class="nav"><a href="/app/private/edit"><p class="string">Редактировать профиль</p></a></div>
</div>

</form>
</body>
</html>