<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Регистрация нового пользователя</h1>
<form action="/" th:action="@{/login/registration}" th:object="${applicationUser}" method="POST">
    <table>
        <tr>
            <td><div><label>Ваше имя</label></div></td>
            <td><div><input th:id="name" th:field="*{name}"/></div></td>
        </tr>
        <tr>
            <td><div><label>Ваша фамилия</label></div></td>
            <td><div><input th:id="surname"th:field="*{surname}"/></div></td>
        </tr>
        <tr>
            <td><div><label>Email</label></div></td>
            <td><div><input type="email" th:id="email" th:field="*{email}"/></div></td>
        </tr>
        <tr>
            <td><div><label>Пароль</label></div></td>
            <td><div><input type="password" th:id="password" th:field="*{password}"/></div></td>
        </tr>
        <tr>
            <td><div><label>Подтверждение пароля</label></div></td>
            <td><div><input th:id="confirm_password" type="password"/></div></td>
        </tr>
        <tr>
            <td><div><button type="submit">Зарегистрироваться</button></div></td>
            <td><div><a th:href="@{/login.html}">Войти в систему</a></div></td>
        </tr>
    </table>
    </table>
</form>


</body>
</html>