<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все заявки</title>
    <link rel="stylesheet" href="/css/sort.css">
    <link rel="stylesheet" href="/css/menu.css">

    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
</head>
<body>
<header th:fragment="header">
    <hr>
    <div>
        <div class="nav"><a href="/index"><p class="string">Выйти из кабинета снабженца</p></a></div>
        <div class="nav"><a href="/supplier/sib"><p class="string">СиБ-центр</p></a> </div>
        <div class="nav"><a href="/supplier/gbi"><p class="string">ЖБИ №1 Рыбацкое</p></a> </div>
        <div class="nav"><a href="/supplier/checking"><p class="string">Проверить новые заявки</p></a> </div>
    </div>
    <hr>
</header>
<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>