<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все заявки</title>
    <link rel="stylesheet" href="/css/sort.css">
    <link rel="stylesheet" href="/css/menu.css">

    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
</head>
<body>
<header th:fragment="header">
    <hr>
    <div>
        <div class="nav"><a href="/app"><p class="string">Выйти</p></a></div>
        <div class="nav"><a href="/app/requests/create"><p class="string">Создать заявку</p></a></div>
        <div class="nav"><a href="/app/requests/my"><p class="string">Мои заказы</p></a></div>
        <div class="nav"><a href="/app/requests"><p class="string">Заявки</p></a></div>

        <div sec:authorize="hasRole('ROLE_SUPPLIER')" class="nav"><a href="/app/requests/all"><p class="string">Список позиций</p></a></div>
        <div sec:authorize="hasRole('ROLE_SUPPLIER')" class="nav"><a href="/app/supplier/sib"><p class="string">СиБ-центр</p></a> </div>
        <div sec:authorize="hasRole('ROLE_SUPPLIER')" class="nav"><a href="/app/supplier/gbi"><p class="string">ЖБИ №1 Рыбацкое</p></a> </div>
        <div sec:authorize="hasRole('ROLE_SUPPLIER')" class="nav"><a href="/app/supplier/checking"><p class="string">Проверить новые заявки</p></a> </div>
    </div>
    <hr>
</header>

<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>